.exercises {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: 100%;
  padding: 0 2em 0 2em;
  height: 85vh;
  overflow-y: auto;
}

.exercise-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  min-height: 200px;
  max-height: 200px;
  border-radius: 5px;
  background-color: #1f2f42;
}

.left-exercise-card {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.right-exercise-card {
  flex-direction: column;
  align-items: flex-end;
  width: 20vw;
}

.ex-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.ex-header > span {
  margin-left: 0.7em;
  font-size: 0.7em;
  color: #6ed383;
}

.exercise-desc-title {
  font-size: 1.2em;
  font-weight: 600;
}

.exercise-desc {
  font-weight: 400;
}

.exercise-title {
  font-size: 1.4em;
  font-weight: bold;
}

.exercise-owner {
  font-size: 0.8em;
  color: rgb(236, 234, 234);
  font-weight: 300;
  margin-bottom: 10px;
}

.exercise-link {
  margin-top: 5px;
}

.exercise-link a {
  color: tomato;
}

.exercise-link a:hover {
  text-decoration: none;
  color: rgb(236, 234, 234);
}

.exercise-reps {
  font-size: 1em;
  font-weight: 300;
}

.exercise1 {
  background: #1f2f42;
  color: white;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
  border-radius: 7px;
}
.video-box {
  margin-top: 1em;
  margin-left: 14em;

  margin-bottom: 3em;
}
#edit {
  background-color: #ed6459;
  margin-left: 28em;
}
#remove {
  background-color: #6ed383;
  margin-left: 1em;
}
#back {
  background-color: #4784bc;
  margin-left: 2em;
  margin-bottom: 2em;
}
