.profile_user{
    color: white;
    background-color: 1F2F42;
    margin: 2em;
    margin-bottom: 2em;
   
    border-radius: 7px;

}
#profil{
 
     width: 150px;
     height: 150px;
     margin-top: 2.5em;
 
     border-radius: 150px;
    margin-left: 25em

 }
 .left_way{
     margin-bottom: 1em;
   
     
 }
.name{
    float: right 
}
#space{
    margin-bottom: 2em;
}




.form-control {
   
   
    border-radius: 2px;
  
    background: #313E4D;
    color: #2e323c;
 
}

.edit{
    background-color: #1F2F42;
    color: white;

  
    border-radius: 7px;

    margin-bottom: 1em;
   margin: 2em;
}
.gutters{
    margin: 1em;
}