.routines {
  display: grid;
  gap: 1em;
  width: 100%;
  padding: 3em;

  height: 100vh;
  overflow-y: scroll;
}

.routine-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  min-height: 100px;
  max-height: 150px;
  border-radius: 5px;
  background-color: #1f2f42;
}
