.days {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: white;
  justify-content: space-between;
}

.day-card {
  width: 90%;
  align-self: center;
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #1f2f42;
  border-radius: 5px;
}

#left {
  width: 50%;
}
#thumb {
  border-radius: 10px;
  width: 200px;
  height: auto;
}

#line {
  height: 3px;
}

.exercise-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.exlink {
  height: 2em;
  background-color: none;
  padding: 5px;
  transition: ease-in 0.2s;
  border-bottom: 2px solid#5992ed;
  color: white;
}

.exlink:hover {
  color: #ed6459;
}

.routines {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 300px;
}

.routine-container {
  align-self: center;
  width: 80%;
  min-height: 300px;
}

.routine {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.routine-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.routine-exercises {
  width: 50%;
}

.routine-title {
  font-size: 1.4em;
  margin-bottom: 1em;
}
