.exercises {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: 100%;
  padding: 0 2em 0 2em;
}

.exercise-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  min-height: 200px;
  max-height: 200px;
  border-radius: 5px;
  background-color: #1f2f42;
  margin-bottom: 3em;
}

.left-exercise-card {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.right-exercise-card {
  flex-direction: column;
  align-items: flex-end;
  width: 20vw;
}

.ex-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.ex-header > span {
  margin-left: 0.7em;
  font-size: 0.7em;
  color: #6ed383;
}

.exercise-desc-title {
  font-size: 1.2em;
  font-weight: 600;
}

.exercise-desc {
  font-weight: 400;
}

.exercise-title {
  font-size: 1.4em;
  font-weight: bold;
}

.exercise-owner {
  font-size: 0.8em;
  color: rgb(236, 234, 234);
  font-weight: 300;
  margin-bottom: 10px;
}

.exercise-link {
  margin-top: 5px;
}

.exercise-link a {
  color: tomato;
}

.exercise-link a:hover {
  text-decoration: none;
  color: rgb(236, 234, 234);
}

.exercise-reps {
  font-size: 1em;
  font-weight: 300;
}

.show-routine {
  background-color: #1f2f42;
  margin: 2em;
  border-radius: 4px;
  height: 90vh;
  overflow-y: auto;
}

.routine-title {
  background-color: #ed6459;
  color: white;
  margin: auto;
  font-size: 2em;
  width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 4px;
}
.routine-owner {
  color: white;
  margin: auto;
  font-size: 1em;
  padding: 1em;
  width: 30%;
  text-align: center;
  border-bottom: 1px dotted white;
}
.routine-desc-title {
  color: white;
  border-bottom: 1px solid white;
  margin-top: 1em;
  padding: 0.4em;
  font-size: 1.5em;
  width: 30%;
  text-align: center;
  margin: auto;
}

.desc-container {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.routine-description {
  padding: 2em;
  color: white;
  font-size: 1em;
  border-radius: 7px;
}
.routine-exercise {
  margin: auto;
  color: white;
  padding: 0.4em;
  font-size: 1.5em;
  width: 30%;
  text-align: center;
}

.routine-ex {
  background-color: #4784bc;
}

.routine-ex > .exercise-link > a {
  color: #1f2f42 !important;
}

.actions {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
