.trainers {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;
  margin-top: 2em;
}

.profile > img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.trainer {
  margin-bottom: 2em;
  align-self: center;
  width: 60%;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-color: #1f2f42;
  color: white;
  padding: 1em;
  min-height: 150px;
  max-height: 150px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  padding: 1em;
}

.right {
  align-self: center;
}

.info {
  background: none;
}

.info > h5 {
  font-weight: 300;
}
.info > h6 {
  font-weight: 100;
}
