{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/diets.css' %}">
{% endblock styles %}

{% block middle %}
<div class="diets">
    {% for diet in diets %}
        <div class="diet-card">
            <div class="diet-card-left">
            <div class="diet-title">{{diet.title}}</div>
            <div class="thumbnail"><img src="{{diet.thumbnail.url}}" alt=""></div>
            </div>
            <div class="diet-card-right">
                <div class="diet-title">Benefits:</div>
                <div class="diet-desc">{{diet.desc}}</div>
                <form action="{% url 'userdashboard-diets' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{diet.id}}" name="select">
                <input class="btn btn-preorder" type="submit" value="Select">
                </form>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock middle %}