<div class="col col-sm-12 col-md-12 col-lg-8">
      <div class="shapedEdge">
        <p>Today-22.06.2021</p>
        <hr class="solid" />
        <div class="row justify-content-center">
          <div class="col col-lg-3">
            <img
              src=""
              alt="six pack"
              style="
                height: 180px;
                margin: 30px -60px 70px;
                border-radius: 12px;
              "
            />
          </div>
          <div class="col col-lg-4">
            <div class="row justify-content-around">
              <h3>Abs Day</h3>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <p>Tomorow-23.06.2021</p>
        <hr class="solid" />
        <div class="row justify-content-center">
          <div class="col col-lg-3">
            <img
              src=""
              alt="six pack"
              style="
                height: 180px;
                margin: 30px -60px 70px;
                border-radius: 12px;
              "
            />
          </div>
          <div class="col col-lg-4">
            <div class="row justify-content-around">
              <h3>Biceps Day</h3>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p>Wednesday-22.06.2021</p>
        <hr class="solid" />
        <div class="row justify-content-center">
          <div class="col col-lg-3">
            <img
              src=""
              alt="six pack"
              style="
                height: 180px;
                margin: 30px -60px 70px;
                border-radius: 12px;
              "
            />
          </div>
          <div class="col col-lg-4">
            <div class="row justify-content-around">
              <h3>Leg Day</h3>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p>Thursday-22.06.2021</p>
        <hr class="solid" />
        <div class="row justify-content-center">
          <div class="col col-lg-3">
            <img
              src=""
              alt="six pack"
              style="
                height: 180px;
                margin: 30px -60px 70px;
                border-radius: 12px;
              "
            />
          </div>
          <div class="col col-lg-4">
            <div class="row justify-content-around">
              <h3>Chest Day</h3>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p>Friday-22.06.2021</p>
        <hr class="solid" />
        <div class="row justify-content-center">
          <div class="col col-lg-3">
            <img
              src=""
              alt="six pack"
              style="
                height: 180px;
                margin: 30px -60px 70px;
                border-radius: 12px;
              "
            />
          </div>
          <div class="col col-lg-4">
            <div class="row justify-content-around">
              <h3>Back Day</h3>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p>Saturnday-22.06.2021</p>
        <hr class="solid" />
        <div class="row justify-content-center">
          <div class="col col-lg-3">
            <img
              src=""
              alt="six pack"
              style="
                height: 180px;
                margin: 30px -60px 70px;
                border-radius: 12px;
              "
            />
          </div>
          <div class="col col-lg-4">
            <div class="row justify-content-around">
              <h3>All Day</h3>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
              <div class="col col-lg-2">
                <ul class="nav justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Exercise </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>