{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/profile.css' %}">
{% endblock styles %}

{% block title %}
<title>Profile: {{user.username}}</title>
{% endblock title %}
{% block middle %}


<div class="row profile_user">
    <div class="col">
        <div class="row">
            <div class="col">
                <picture><img id="profil" src="{{user.profile.profile_photo.url}}" ></picture>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                <div class="name">Name</div>
            </div>
            <div class="col">
                <div>{{user.first_name}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="name">Surname</div>
            </div>
            <div class="col">
                <div>{{user.last_name}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="name">Height</div>
            </div>
            <div class="col">
                <div>{{user.profile.height}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="name">Weight</div>
            </div>
            <div class="col">
                <div>{{user.profile.weight}} KG</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="name">Weight Goal</div>
            </div>
            <div class="col">
                <div>{{user.profile.weight_goal}} KG</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="name">Gender</div>
            </div>
            <div class="col">
                <div>{{user.profile.gender|slice:"7:13"}}</div>
            </div>
        </div>
        <div class="row" id="space">
            <div class="col">
                <div class="name">Weekly <Frequenc></Frequenc>y</div>
            </div>
            <div class="col">
                <div>{{user.profile.week_frequency|slice:"8:22"}}</div>
            </div>
            
        </div>
    </div>
</div>

{% endblock middle %}