<div class="col col-sm-12 col-md-12 col-lg-2">
      <div class="input-group">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Type..."
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <button type="button" class="btn">Search</button>
      </div>
      <div class="card">
        <div class="row justify-content-start">
          <div class="col-sm">
            <img
              src=""
              style="
                width: max-content;
                max-width: 100%;
                max-height: max-content;
                margin: 25px 20px 13px;
                border-radius: 15px;
              "
            />
          </div>
          <div class="col-sm">
            <h6>Body Care</h6>
            <h5>02-04-2022</h5>
            <h5>Our 12 year anniversary will be a part of ...</h5>

            <button
              type="button"
              style="
                background-color: #0a1522;
                width: fit-content;
                border-radius: 6px;
                font-size: 15px;
              "
              class="btn"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row justify-content-start">
          <div class="col-sm">
            <img
              src=""
              style="
                width: max-content;
                max-width: 100%;
                max-height: max-content;
                margin: 25px 20px 13px;
                border-radius: 15px;
              "
            />
          </div>
          <div class="col-sm">
            <h6>Body Care</h6>
            <h5>02-04-2022</h5>
            <h5>Our 12 year anniversary will be a part of ...</h5>

            <button
              type="button"
              style="
                background-color: #0a1522;
                width: fit-content;
                border-radius: 6px;
                font-size: 15px;
              "
              class="btn"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row justify-content-start">
          <div class="col-sm">
            <img
              src=""
              style="
                width: max-content;
                max-width: 100%;
                max-height: max-content;
                margin: 25px 20px 13px;
                border-radius: 15px;
              "
            />
          </div>
          <div class="col-sm">
            <h6>Body Care</h6>
            <h5>02-04-2022</h5>
            <h5>Our 12 year anniversary will be a part of ...</h5>

            <button
              type="button"
              style="
                background-color: #0a1522;
                width: fit-content;
                border-radius: 6px;
                font-size: 15px;
              "
              class="btn"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row justify-content-start">
          <div class="col-sm">
            <img
              src=""
              style="
                width: max-content;
                max-width: 100%;
                max-height: max-content;
                margin: 25px 20px 13px;
                border-radius: 15px;
              "
            />
          </div>
          <div class="col-sm">
            <h6>Body Care</h6>
            <h5>02-04-2022</h5>
            <h5>Our 12 year anniversary will be a part of ...</h5>

            <button
              type="button"
              style="
                background-color: #0a1522;
                width: fit-content;
                border-radius: 6px;
                font-size: 15px;
              "
              class="btn"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
