{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/routines.css' %}">
{% endblock styles %}

{% block title %}
<title>{{user.username}}'s Dashboard</title>
{% endblock title %}

{% block middle %}
{% comment %} KTU SHKRUAJ KODIN {% endcomment %}
<!-- /*<div class="row" id="middleCard">
    <div class="col" id="first">
        <div class="row">
            <div class="col">
                <h2 id="title">Exercise 1</h2>
            </div>
            <div class="col" id="col"><button class="btn btn-primary" id="btn" type="button">Select</button></div>
        </div>
        <h3 id="Routine">Routine - Abs</h3>
        <h5 id="reps">x-Reps</h5><a id="video-link" href="#">Video Link</a>
    </div>
    <div class="col" id="first">
        <div class="row">
            <div class="col">
                <h2 id="title">Exercise 1</h2>
            </div>
            <div class="col" id="col"><button class="btn btn-primary" id="btn" type="button">Select</button></div>
        </div>
        <h3 id="Routine">Routine - Abs</h3>
        <h5 id="reps">x-Reps</h5><a id="video-link" href="#">Video Link</a>
    </div>
    <div class="col" id="first">
        <div class="row">
            <div class="col">
                <h2 id="title">Exercise 1</h2>
            </div>
            <div class="col" id="col"><button class="btn btn-primary" id="btn" type="button">Select</button></div>
        </div>
        <h3 id="Routine">Routine - Abs</h3>
        <h5 id="reps">x-Reps</h5><a id="video-link" href="#">Video Link</a>
    </div>
  </div>
  <div class="row" id="middleCard">
    <div class="col" id="first">
        <div class="row">
            <div class="col">
                <h2 id="title">Exercise 1</h2>
            </div>
            <div class="col" id="col"><button class="btn btn-primary" id="btn" type="button">Select</button></div>
        </div>
        <h3 id="Routine">Routine - Abs</h3>
        <h5 id="reps">x-Reps</h5><a id="video-link" href="#">Video Link</a>
    </div>
    <div class="col" id="first">
        <div class="row">
            <div class="col">
                <h2 id="title">Exercise 1</h2>
            </div>
            <div class="col" id="col"><button class="btn btn-primary" id="btn" type="button">Select</button></div>
        </div>
        <h3 id="Routine">Routine - Abs</h3>
        <h5 id="reps">x-Reps</h5><a id="video-link" href="#">Video Link</a>
    </div>
    <div class="col" id="first">
        <div class="row">
            <div class="col">
                <h2 id="title">Exercise 1</h2>
            </div>
            <div class="col" id="col"><button class="btn btn-primary" id="btn" type="button">Select</button></div>
        </div>
        <h3 id="Routine">Routine - Abs</h3>
        <h5 id="reps">x-Reps</h5><a id="video-link" href="#">Video Link</a>
    </div>
  </div> */ -->



  <div class="routines">
    <div class="routine_in">
        <h2>Routine Abs<button id="btn-edit" class="btn" type="button">Edit</button></h2>
        <hr/>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><button id="bnt-exit" class="btn" type="button">Exercise 1</button></div>
                </div>
                <div class="row">
                    <div class="col"><button id="bnt-exit" class="btn" type="button">Exercise 1</button></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><button id="bnt-exit" class="btn" type="button">Exercise 1</button></div>
                </div>
                <div class="row">
                    <div class="col"><button id="bnt-exit" class="btn" type="button">Exercise 1</button></div>
                </div>
            </div>
        </div>
        <h5>Owner: Trainer X</h5>
    </div>
</div>
  <a class="btn btn-success btn-lg" style="margin-left: 3em;" href="{% url 'create-routine' %}">Add New Routine</a>
{% for routine in routines %}
    {% comment %} <div class="routine-card">
        <div class="routine-title">Routine: {{routine.title}}</div>
        <div class="routine-owner">Owner: {{routine.owner.username}}</div>
        <div class="routine-desc">Desc: {{routine.desc}}</div>
        
        <div class="thumbnail"><img src="{{routine.thumbnail.link}}" alt=""></div>
        <div class="exercises"></div>
    </div> {% endcomment %}
{% endfor %}
{% endblock middle %}