{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/routines.css' %}">
{% endblock styles %}

{% block title %}
<title>{{user.username}}'s Dashboard</title>
{% endblock title %}

{% block middle %}

<div class="routines">
    <div class="routine-card">
        
        <div class="header">
            <h4>Routine Abs</h4>
            <a id="btn-edit" class="btn">Edit</a>
        </div>
        <hr/>
        
        <div class="routine-body">
            <div class="routine-thumbnail">
                <div class="thumbnail"><img src="/media/routines/default.jpg" alt=""></div>
            </div>
            <div class="exercise-grid">
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
            </div>
        </div>
    </div>
    <div class="routine-card">
        
        <div class="header">
            <h4>Routine Abs</h4>
            <a id="btn-edit" class="btn">Edit</a>
        </div>
        <hr/>
        
        <div class="routine-body">
            <div class="routine-thumbnail">
                <div class="thumbnail"><img src="/media/routines/default.jpg" alt=""></div>
            </div>
            <div class="exercise-grid">
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
            </div>
        </div>
    </div>
    <div class="routine-card">
        
        <div class="header">
            <h4>Routine Abs</h4>
            <a id="btn-edit" class="btn">Edit</a>
        </div>
        <hr/>
        
        <div class="routine-body">
            <div class="routine-thumbnail">
                <div class="thumbnail"><img src="/media/routines/default.jpg" alt=""></div>
            </div>
            <div class="exercise-grid">
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
            </div>
        </div>
    </div>
    <div class="routine-card">
        
        <div class="header">
            <h4>Routine Abs</h4>
            <a id="btn-edit" class="btn">Edit</a>
        </div>
        <hr/>
        
        <div class="routine-body">
            <div class="routine-thumbnail">
                <div class="thumbnail"><img src="/media/routines/default.jpg" alt=""></div>
            </div>
            <div class="exercise-grid">
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
            </div>
        </div>
    </div>
    <div class="routine-card">
        
        <div class="header">
            <h4>Routine Abs</h4>
            <a id="btn-edit" class="btn">Edit</a>
        </div>
        <hr/>
        
        <div class="routine-body">
            <div class="routine-thumbnail">
                <div class="thumbnail"><img src="/media/routines/default.jpg" alt=""></div>
            </div>
            <div class="exercise-grid">
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
                <a href="" class="btn btn-light exlink">Exercise</a>
            </div>
        </div>
    </div>
    
</div>
    <a id="addroutine" class="btn btn-success" href="{% url 'create-routine' %}">Add New Routine</a>
{% for routine in routines %}
    {% comment %} <div class="routine-card">
        <div class="routine-title">Routine: {{routine.title}}</div>
        <div class="routine-owner">Owner: {{routine.owner.username}}</div>
        <div class="routine-desc">Desc: {{routine.desc}}</div>
        
        <div class="thumbnail"><img src="{{routine.thumbnail.link}}" alt=""></div>
        <div class="exercises"></div>
    </div> {% endcomment %}
{% endfor %}
{% endblock middle %}