{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/schedule.css' %}">
{% endblock styles %}

{% block middle %}
<div class="card_sch">
  <h3>Today - 02.04.2022</h3>
  <hr id="line">
  <div class="row">
      <div class="col" id="left_col"><img id="images" src="assets/img/Rectangle%2017.jpg"></div>
      <div class="col" id="right_col">
          <div>
              <h4>Abs day</h4>
              <div class="row">
                  <div class="col" id="ex">
                      <div class="row" id="ex-1">
                          <div class="col" id="ex_-1"><a id="exercise_select" href="#">Exercise 1</a></div>
                      </div>
                      <div class="row" id="ex-2">
                          <div class="col"><a id="exercise_select" href="#">Exercise 2</a></div>
                      </div>
                      <div class="row" id="ex-3">
                          <div class="col"><a id="exercise_select" href="#">Exercise 3</a></div>
                      </div>
                  </div>
                  <div class="col" id="ex">
                      <div class="row" id="ex1">
                          <div class="col" id="ex_1"><a id="exercise_select" href="#">Exercise 1</a></div>
                      </div>
                      <div class="row" id="ex1">
                          <div class="col"><a id="exercise_select" href="#">Exercise 2</a></div>
                      </div>
                      <div class="row" id="ex1">
                          <div class="col"><a id="exercise_select" href="#">Exercise 3</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock middle %}