{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/show_exercise.css' %}">
{% endblock styles %}

{% block title %}
<title>Exercise: {{exercise.title}}</title>
{% endblock title %}
{% block middle %}

<div class="show-exercise">
    <div class="header">
        <div class="title">Exercise: {{exercise.title}}</div>
        <div class="actions">
            <a id="edit" href="" class="btn btn-primary">Edit</a>
            <a id="remove" href="" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="divider-ex"></div>
    <div class="exercise-body">
        <div class="reps">{{exercise.reps}} - Number of Repetitions</div>
         <div class="divider2-ex"></div>
        <div class="desc">{{exercise.desc}}</div>
        <div class="vid-title">6 PACK ABS For Beginners You Can Do Anywhere</div>
        <div class="video-box">

            <object style="height: 320px; width: 500px"><param name="movie" value="{{exercise.link}}">
            <param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always">
            <embed src="{{exercise.link}}" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="500" height="320"></object>

        </div>
    </div>
    <a id="back" class="btn btn-primary" href="{% url 'userdashboard-exercises' %}">Back</a>
    
</div>

{% endblock middle %}