{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/exercises.css' %}">
{% endblock styles %}

{% block title %}
<title>Exercise: {{exercise.title}}</title>
{% endblock title %}
{% block middle %}

<div class="show-exercise">
    <div class="exercise1">
        <h1>Exercise 1<button id="edit" class="btn btn-primary" type="button">Edit Exercise</button><button id="remove" class="btn btn-primary" type="button">Remove</button></h1>
        <h3>Routine - Abs</h3>
        <h4>x - Number of Repetitions</h4>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <h4>6 PACK ABS For Beginners You Can Do Anywhere</h4>
        <div class="video">
            <div class="video-box">
                <iframe width="500" height="320"
                src="https://www.youtube.com/embed/2pLT-olgUJs?autoplay=1&mute=1">
                </iframe>
                  
            </div>
        </div><button id="back" class="btn btn-primary" type="button">Back</button>
    </div>
</div>

{% endblock middle %}