{% extends 'dashboards/user/dashboard.html' %} 
{% load static %} 

{% block styles%}
<link rel="stylesheet" href="{% static 'css/dashboards/show_trainers.css' %}" />
{% endblock styles %} 

{% block title %}
<title>Trainer: {{trainer.username}}</title>
{% endblock title %} 

{% block middle %}

<div class=" col mid">
  <div class="row profile">
    <div class="col">
      <div class="row">
        <div class="col profile-pic">
          <picture><img id="profil" src="{{trainer.profile.profile_photo.url}}"/></picture>
        </div>
        <div class="col">
          <div class="user">
          {% if trainer.get_full_name %}
          {{trainer.get_full_name}}
          {% else %}
          {{trainer.username}}
          {% endif %}
          </div>
        </div>
      </div>
      <div class="about">About</div>
      <hr/>
      <div class="row">
        <div class="col about_trainer">
          <div class="row">
            <div class="col">
              <div class="name">Height</div>
            </div>
            <div class="col">
              <div>{{trainer.profile.height}} CM</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="name">Weight</div>
            </div>
            <div class="col">
              <div>{{trainer.profile.weight}} KG</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="name">Weight Goal</div>
            </div>
            <div class="col">
              <div>{{trainer.profile.weight_goal}} KG</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="name">Gender</div>
            </div>
            <div class="col">
              <div>
              {% if user.profile.gender == "('M', 'Male')" %}
                Male
              {% else %}
                Female
              {% endif %}
              </div>
            </div>
          </div>

          <div class="row" id="space">
            <div class="col">
              <div class="name">Weekly Frequency</div>
            </div>
            <div class="col">
              <div>{{trainer.profile.week_frequency}} Times a Week</div>
            </div>
          </div>
        </div>
      </div>

      <div class="about">Available Days</div>
      <hr />
      <div class="row">
        <div class="col">
          {% for day in working_days %}
          <div class="row days">{{day}}</div>
          {% endfor %}
        </div>
      </div>
      {{routines_number}}
      <div class="about">{{trainer.username}}'s Routines
        {% if routines_number %}
        - Total {{routines_number}} routines
       {% endif %}
       </div>
      <hr />
      <div class="routines">
      {% for routine in routines %}
        <div class="routine">
          <div class="routine-title">{{routine}}</div>
          <div class="action"><a href="{% url 'userdashboard-routine-details' routine.id %}">View</a></div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- <div class="col show-trainer-box">
    <div class="row">
        <div class="col image">
            <picture><img id="profil" src="{% static 'images/xhoi.jpg' %}" ></picture>
        </div>
        <div class="col detail">
            
            <div class="row">
                <div class="col">
                    <div class="name">Name</div>
                </div>
                <div class="col">
                    <div>Xhois</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="name">Surname</div>
                </div>
                <div class="col">
                    <div>Shaholli</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="name">Height</div>
                </div>
                <div class="col">
                    <div>180cm</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="name">Weight</div>
                </div>
                <div class="col">
                    <div>95 KG</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="name">Weight Goal</div>
                </div>
                <div class="col">
                    <div>80 KG</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="name">Gender</div>
                </div>
                <div class="col">
                    <div>Male</div>
                </div>
            </div>
            <div class="row" id="space">
                <div class="col">
                    <div class="name">Weekly Frequency</div>
                </div>
                <div class="col">
                    <div>6 Times a Week</div>
                </div>
                
            </div>
            
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col hours_col">
            <div class="w">Working Hours</div>
           <div class="hours"> 09am - 04pm</div>
           <div class="hours"> 09am - 04pm</div>
           <div class="hours"> 09am - 04pm</div>
           <div class="hours"> 09am - 04pm</div>
           <div class="hours"> 09am - 04pm</div>
           <div class="hours"> 09am - 04pm</div>
        </div>
        <div class="col days_col">
            <div class="w">Working Days</div>
            <div class="days"> Monday</div>
            <div class="days"> Tuesday</div>
            <div class="days"> Wednesday</div>
            <div class="days"> Thursday</div>
            <div class="days"> Friday</div>
            <div class="days"> Saturday</div>
        </div>
        
    </div>
  
    
</div>
<div class="row">
    <div class="col"><button class="btn" id="back" type="button">Back</button></div>
</div> -->

<!-- <div class="exercise-card">
    <div class="exercise-header">
        <div class="exercise-title">{{trainer.username}}</div>
    </div>
    <div class="exercise-body">
        <div class="exercise-details"></div>
    </div>
</div> -->

{% endblock middle %}
