{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/exercises.css' %}">
{% endblock styles %}

{% block title %}
<title>Routine: {{routine.title}}</title>
{% endblock title %}
{% block middle %}


<div class="row show-routine">
    <div class="col">
        <div class="row">
            <div class="col ">
                <div class="routine-title">Chest</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="routine-owner">Routine Owner: Xhois Shaholli</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="routine-desc-title"> Routine Description</div>
                <div class="routine-description"> Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two or more users of mobile devices, desktops/laptops, or other type of compatible computer. </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="routine-exercise">Routine Exercises</div>
                <div class="exercises">
                    
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                        <div class="exercise-card">
                            <div class="left-exercise-card">
                                <div class="ex-header">
                                    <div class="exercise-title">Plank</div>
                                   
                                   
                                   
                                </div>
                               
                                <div class="exercise-owner">Owner : Xhois Shaholli</div>
                              
                                <div class="exercise-owner"></div>
                            
                                <div class="exercise-reps"> Number Of Reps : 3</div>
                                <div class="exercise-link"><a href="">Video Link</a></div>
                            </div>
                            <a href="">View Exercise</a>
                        </div>
                   
                    </div>
                </div>
        </div>
    </div>
</div>







{% endblock middle %}