{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/trainers.css' %}">
{% endblock styles %}

{% block middle %}
<div class="showing-where-you-are">
    Trainers
    </div>
<div class="trainers">

    {% for trainer, nrofroutines in trainers_info %}
    <div class="trainer">
        <div class="left">
            <div class="profile"><img id="profil" src="{{trainer.profile.profile_photo.url}}" ></div>
            <div class="info">
               {% if trainer.get_full_name %}
                <h4>{{trainer.get_full_name}}</h4>
                {% else %}
                <h4>{{trainer.username}}</h4>
                {% endif %}
                
                <h5>Age: {{ trainer.profile.age }} Years Old</h5>
                <h6>Owner of {{nrofroutines}} routines</h6>
            </div>
        </div>
        <div class="right">
            <a href="{% url 'userdashboard-trainer-details' trainer.id %}" class="btn btn-success">View trainer</a>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock middle %}