{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/trainers.css' %}">
{% endblock styles %}

{% block middle %}

<div class="trainers">

{% for trainer, nrofroutines in trainers_info %}
<div class="row justify-content-center">
    <div id="tr" class="col-xl-2"></div>
    <div class="col-xl-2 align-middle">
        <picture><img id="profil" src="{{trainer.profile.profile_photo.url}}" ></picture>
    </div>
    <div id="back" class="col-xl-4">
        {% if trainer.get_full_name %}
        <h4>{{trainer.get_full_name}}</h4>
        {% else %}
        <h4>{{trainer.username}}</h4>
        {% endif %}
        
        <h5>Age: {{ trainer.profile.age }} Years Old</h5>
        <h6>Owner of {{nrofroutines}} routines</h6>
    </div>
    <div class="col-xl-2"><a class="btn btn-success" href="{% url 'userdashboard-trainer-details' trainer.id %}">View Trainer</a></div>
    <div id="tr" class="col-xl-2"></div>
</div>
{% endfor %}

</div>

{% endblock middle %}