{% extends 'dashboards/user/dashboard.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboards/trainers.css' %}">
{% endblock styles %}

{% block middle %}
<div class="row justify-content-center">
    <div id="tr" class="col-xl-2"></div>
    <div class="col-xl-2 align-middle">
        <picture><img id="profil" src="{% static 'images/xhoi.jpg' %}" ></picture>
    </div>
    <div id="back" class="col-xl-4">
        <h4>Xhois Shaholli</h4>
        <h5>Age: 21 Years Old</h5>
        <h6>Owner of 15 routines</h6>
    </div>
    <div class="col-xl-2"><button class="btn" type="button">View Trainer</button></div>
    <div id="tr" class="col-xl-2"></div>
</div>





{% for trainer in trainers %}
    {{trainer.username}}
    <a href="{% url 'userdashboard-trainer-details' trainer.id %}">View Trainer</a>
{% endfor %}

{% endblock middle %}