{% extends 'dashboards/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="card">
        <div class="row">
            <div class="column left" style="background-color:#0a1522;">
              <h2>Menu/h2>
              
            </div>
            <div class="column middle" style="background-color:#0a1522;">
              <h2>Timetable</h2>
              
            </div>
            <div class="column right" style="background-color:#0a1522;">
              <h2>Events</h2>
              
            </div>
          </div>
        <a href="{% url 'logout' %}">Click here to logout</a>
    </div>
    {% endif %}i
{% endblock content %}

