{% extends 'login/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<div class="go-home">
    <a id="home-btn" href="{% url 'welcome-page' %}">Go Home</a>
</div>

<div class="login card container"> 
    <div class="form card-body container">
        <form method="POST">
            {% csrf_token %}
            
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
                {% endfor %}
            {% endif %}

            {{ form|crispy }}
            <div class="buttons">
                <button class="general-button login-btn" type="submit">Log In</button>
                <small class="text-muted">Don't have an account? <a class="ml-2" href="{% url 'register' %}"> Register Here</a></small>
            </div>             
        </form>
    </div>
</div> 
{% endblock content %}