{% extends 'staff/base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/staff_dashboards/shared/workspace.css' %}">

{% endblock styles %}

{% block middle %}

<div class="workspace">
    <div class="header">
        <div class="pic"><img src="{{user.profile.profile_photo.url}}" alt=""></div>
        <div class="name">
        {% if user.get_full_name %}
        {{user.get_full_name}}
        {% else %}
        {{user.username}}
        {% endif %}
        </div>
        <a href="{% url 'staff-edit-workspace' %}" class="edit">Edit Workspace</a>
    </div>
    <div class="workspace-body">
        <div class="workspace-row">
            <div class="wcol-name">Salary</div>
            <div class="wcol-data">{{user.workspace.salary}}€</div>
        </div>
        <div class="workspace-row">
            <div class="wcol-name">Working Days</div>
            <div class="wcol-data">
            {% for day in days %}
                <span>{{day}}</span>
            {% endfor %}
            </div>
        </div>
        <div class="workspace-row">
            <div class="wcol-name">Starts Work At</div>
            <div class="wcol-data">
            {{start}}
            </div>
        </div>
        <div class="workspace-row">
            <div class="wcol-name">Ends Work At</div>
            <div class="wcol-data">
            {{end}}
            </div>
        </div>

        <div class="admin-notes">
            <div class="title">Admin Notes:</div>
            {% for note in admin_notes %}
            <div class="admin-row">
            {{note.todo}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %} <div class="col scrolling_func">
    <div class="row">
        <div class="col">
            <div class="your-profile"> Your Profile </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row profile_user">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <picture><img id="profil" src="{{user.profile.profile_photo.url}}" ></picture>
                        </div>
                    </div>
                    <div class="personal-info" >
                      {% if user.get_full_name %}
                      {{user.get_full_name}}
                      {% else %}
                      {{user.username}}
                      {% endif %}
                    </div>
                    <hr class="pi"/>
                </div>
            </div>
        </div>
        <!-- <div class="col followers">
            <div class="row following-part">
                <div class="col">
                    <div class="">Routines Followers
                        <hr id="tot"/>
                        <div>389</div>
                        <div>Followers</div>
                    </div>
                   
                </div>
            </div>
          
            <div class="row">
                <div class="col">
                    <div class="">Diet Followers
                        <hr id="tot"/>
                        <div>342</div>
                        <div>Followers</div>
                    </div>
                    
                  
                </div>
               
            </div>
        </div> -->
    </div>
    <div class="row submission">
        <div class="col days-part">
            <div class="working-details">Add Working Days and Hours</div>
            <hr id="tot"/>
            <div class="row">
                <div class="col working">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Monday</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Tuesday</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Wednesday</label></div>
                </div>
                <div class="col working">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Thursday</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Friday</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Saturnday</label></div>
                </div>

                <div class="row">
                    <div id="hours-on-the-left" class="col working">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">09:00 am to 05:00 pm</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">12:00 am to 09:00 pm</label></div>
                           
                </div>
            </div>




                <button type="button" id="submit-wd" name="submit" class="btn">Submit Working Days and Hours</button>
            </div>
        </div>

  
       
    </div>
    <div class="row move-totals">
        <div class="totals">
            <div class="working-details">Total Working Days</div>
            <hr id="tot"/>
            <div class="total-hours">75 Hours</div>
        </div>
        <div class="totals">
            <div class="working-details">Total Working Hours</div>
            <hr id="tot"/>
            <div class="total-days">54 Days</div>
        </div>
    </div>
    <div class="row">
        <div class="col admin-notes-rectangle">
            <div class="admin-notes">Admin Notes</div>
            <hr id="tot"/>
            <div class="notes">Hey, come early tomorrow</div>
            <hr id="tot"/>
            <div class="notes">Make sure to submit the working days</div>
            <hr id="tot"/>
            <div class="notes">Important !!! Monday is Holiday</div>
            <marquee behavior="" direction="">Notes from admin: {{ notes.todo }}</marquee>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="total-earnings">Total Earnings/ Analitycs</div>
            <div class="col">
                <canvas id="myChart"></canvas>
              </div>
            <script>
               var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                labels: ["January", "February", "March", "April", "May", "Now"],
                datasets: [{
                label: 'Earnings',
                data: [500, 750, 780, 720, 730, 400],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                'rgba(255,99,132,1)'
                ],
                borderWidth: 1
                }]
                },
                options: {
                scales: {
                yAxes: [{
                ticks: {
                beginAtZero: true
                }
                }]
                }
                }
                });
                </script>
        </div>
    </div>
</div> {% endcomment %}
{% endblock middle %}