{% extends 'staff/base.html' %}
{% block middle %}
<div class="table-responsive" id="short">
    <table class="table" id="tablecss">
        <thead>
            <tr id="first-row">
                <th>&nbsp;ID</th>
                <th>Name&nbsp;</th>
                <th>Surname</th>
                <th>Working Hours/ Week</th>
                <th>Role</th>
                <th>Edit/ Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>1</div>
                </td>
                <td>
                    <div>Xhois</div>
                </td>
                <td>
                    <div>Shaholli</div>
                </td>
                <td>
                    <div>40 H</div>
                </td>
                <td>
                    <div>Manager</div>
                </td>
                <td>
                    <div><button class="btn" id="edit" type="button">Edit</button><button class="btn" id="delete" type="button">Delete</button></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>2</div>
                </td>
                <td>
                    <div>Rei</div>
                </td>
                <td>
                    <div>Balla</div>
                </td>
                <td>
                    <div>40 H</div>
                </td>
                <td>
                    <div>Manager</div>
                </td>
                <td>
                    <div><button class="btn" id="edit" type="button">Edit</button><button class="btn" id="delete" type="button">Delete</button></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>3</div>
                </td>
                <td>
                    <div>Xhesika</div>
                </td>
                <td>
                    <div>Bicaku</div>
                </td>
                <td>
                    <div>40 H</div>
                </td>
                <td>
                    <div>Manager</div>
                </td>
                <td>
                    <div><button class="btn" id="edit" type="button">Edit</button><button class="btn" id="delete" type="button">Delete</button></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock middle %}