{% extends 'staff/base.html' %}


{% block middle %}
<div class="table-responsive" id="short">
    <table class="table" id="tablecss">
        <thead>
            <tr id="first-row">
                <th>Equipment ID</th>
                <th>Equipment Name</th>
                <th>Price</th>
                <th>Quantity&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>1</div>
                </td>
                <td>
                    <div>Bicycle</div>
                </td>
                <td>
                    <div>$340</div>
                </td>
                <td>
                    <div>23</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>2</div>
                </td>
                <td>
                    <div>Step</div>
                </td>
                <td>
                    <div>$790</div>
                </td>
                <td>
                    <div>43</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>3</div>
                </td>
                <td>
                    <div>Moving Stairs</div>
                </td>
                <td>
                    <div>$590</div>
                </td>
                <td>
                    <div>45</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock middle %}