{% extends 'dashboards/user/dashboard.html' %}

{% block styles %}
<style>
    .change-password {
        width: 80%;
        margin-top: 10%;
        background: rgb(233,219,219);
        background: linear-gradient(249deg, rgba(233,219,219,1) 0%, rgba(244,243,236,1) 100%);
    }

    input[type=submit] {
        background-color: #6ED383;
        border-radius: 4px;
    }

    .back{
        width: 10%;
        transform: translate(100%, 150%);
    }

    .title{
        font-size: 1.5em;
        font-weight: bold;
    }

    .subtitle{
        font-weight: 500;
    }
</style>
{% endblock styles %}

{% block middle %}

<div class="back">
<a class="container btn btn-primary rounded-1" href="{% url 'profile' %}">Back</a>
</div>

<div class="change-password card container"> 
    <div class="change-password-body form card-body container">
        <form method="POST" action="{% url "change-password" %}" class="change-password-form">
                <div class="title">
                Change Password
                </div>
                <div class="subtitle">
                You can not change other information here. To change profile options click <a href="{% url 'edit-profile' %}">here</a>.
                </div>
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif %}
               
                <div class="form-group mt-3">
                    <label for="title">Enter existing password:</label>
                    <input type="password" class="form-control {{oldValid}}" id="old" name="old" placeholder="Old password: ">
                </div>
                <div class="form-group mt-3">
                    <label for="reps">Existing password again:</label>
                    <input type="password" class="form-control {{old2Valid}}" id="old2" name="old2" placeholder="Old password again: ">
                </div>
                <div class="form-group mt-3">
                    <label for="desc">New password:</label>
                    <input type="password" class="form-control {{newValid}}" id="new" name="new" placeholder="New password: ">
                </div>
                <div class="form-group mt-3">
                    <label for="link">New password again:</label>
                    <input type="password" class="form-control {{new2Valid}}" id="new2" name="new2" placeholder="New password again: ">
                </div>   
                

                <input class="btn btn-success p-2 mt-2" type="submit" value="Change password"/>      
        </form>
    </div>
</div> 

{% endblock middle %}