{% extends 'dashboards/user/dashboard.html' %}

{% block styles %}
<style>
    .create-routine {
        width: 80%;
        margin-top: 10%;
    }

    input[type=submit] {
        background-color: #6ED383;
        border-radius: 4px;
        outline: none !important;
    }

    .back{
        width: 10%;
        transform: translate(100%, 150%);
    }

    .selections{
        max-height: 130px;
        overflow: auto;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        border-radius: 10px;
    }
</style>
{% endblock styles %}



{% block middle %}

<div class="back">
<a class="container btn btn-primary rounded-1" href="{% url 'userdashboard-routine-details' routine.id %}">Back</a>
</div>
<div class="create-routine card container"> 
    <div class="create-routine-body form card-body container">
        <form method="POST" action="{% url "create-routine" %}" class="create-routine-form">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif %}
               
                <div class="form-group mt-3">
                    <label for="title">Routine Title</label>
                    <input type="text" class="form-control {{titleValid}}" id="title" name="title" placeholder="Title: " value="{{routine.title}}">
                </div>
                <div class="form-group mt-3">
                    <label for="desc">Description</label>
                    <input type="text" class="form-control {{descValid}}" id="desc" name="desc" placeholder="Some description: " value="{{routine.desc}}">
                </div>
            
                <div class="form-group mt-3">
                    <label for="thumbnail">Thumbnail</label>
                    <input class="form-control {{thumbnailValid}}" type="file" id="thumbnail" name="thumbnail" value="{{routine.thumbnail}}">
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="days">Select Days:</label>
                    <div class="selections">
                    {% for day in days %}
                        <div class="form-check {{daysValid}}">
                            {% if day in routine.days.all %}
                            <input class="form-check-input" type="checkbox" value="{{day}}" id="{{day}}" name="days" checked="true">
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="{{day}}" id="{{day}}" name="days">
                            {% endif %}
                            <label class="form-check-label" for="{{day}}">
                                {{day}}
                            </label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="days">Select Exercises:</label>
                    <div class="selections">
                    {% for exercise in exercises %}
                         <div class="form-check {{exercisesValid}}">
                            {% if exercise in routine.exercises.all %}
                            <input class="form-check-input" type="checkbox" value="{{exercise.id}}" id="{{exercise.id}}" name="exercises" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="{{exercise.id}}" id="{{exercise.id}}" name="exercises">
                            {% endif %}
                            <label class="form-check-label" for="{{exercise.id}}">
                                {{exercise}}
                            </label>
                        </div>
                    {% endfor %}
                    </div>
                </div>


                <input class="btn btn-success p-2 mt-2" type="submit" />      
        </form>
    </div>
</div> 
{% endblock middle %}

{% block custom_scripts %}
    $('select').selectpicker();
{% endblock custom_scripts %}
