* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}


body {
  background-color: #0a1522;
}

.mycontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  width: 10vw;
  height: 100vh;
}

.nav-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2f42;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4em;
  height: 50%;
  width: 100%;
}

.option {
  color: #fff;
  padding: 1em;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  text-align: center;
  background-color: #313e4c;
}

.active {
  background-color: #0a1522;
}

.option:hover,
.active:hover {
  background-color: #ed6459;
  cursor: pointer;
}

.option a,
.active a {
  color: white;
  text-decoration: none;
}
.option a:hover,
.active a:hover {
  text-decoration: none;
}

.profile-wrapper {
  width: 100%;
}

.user-btn {
  background-color: #ed6459;
  color: #fff;
  padding: 1em;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  text-align: center;
  margin-top: 16em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-btn:hover {
  background-color: #0a1522;
  cursor: pointer;
}

.profile-pic img {
  height: 30px;
  border-radius: 50%;
  width: auto;
}

.hide {
  display: none;
}

.show {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: auto;
  height: auto;
  color: white;
  background-color: #ed6459;
  display: block;
  transform: translate(40%, -165%);
}

.show div {
  padding: 1em;
}

.show div a {
  text-decoration: none;
  color: white;
}
.show div a:hover {
  text-decoration: none;
}

.show div:hover {
  background-color: #0a1522;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.middle {
  width: 100%;
  background-color: #0a1522;
}

.middle-nav {
  width: 100%;
  height: 3em;
  background-color: #1f2f42;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

::-webkit-scrollbar {
  margin-right: 1em;
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #0a1522;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aebac8;
  border-radius: 10px;
}
.showing-where-you-are{
  padding: 1em 1em 1em 1.7em;
  color: rgba(255, 255, 255, 0.56);
  font-size: 2em;
  background-color: #0A1522;
  font-weight: 600;
  
  
}