.activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow: auto;

  max-height: 92vh;
}

#myTab {
  margin-top: 1em;
}

.nav-link {
  color: rgb(212, 218, 235);
}

.nav-link:hover {
  color: #5c8fcc;
}

.info {
  margin-top: 4em;
  width: 97%;
  border-radius: 7px;
  align-self: middle;
  background-color: #313e4c;

  min-height: 600px;
  max-height: 600px;
}

.ex-info {
  min-height: 500px;
  max-height: 500px;
}
.ev-info {
  min-height: 800px;
  max-height: 800px;
}
.rt-info {
  min-height: 500px;
  max-height: 500px;
}

.dp-info {
  min-height: 380px;
  max-height: 380px;
}

.title {
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  height: 100%;
  text-align: center;
}

.left-card {
  margin-left: 1em;
  padding: 1em;
  min-width: 20%;
}

.divider {
  margin: 0;
  background-color: #697e95;
  height: 1px;
}

.card-title {
  font-size: 1em;
}
.active-users {
  background-color: sandybrown;
  border-radius: 4px;
  padding: 1em;
}

.allnr {
  margin-top: 10px;
  background-color: salmon;
  border-radius: 7px;
  padding: 1em;
}

.cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  min-width: 80%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile-pic {
  width: 40px;
  height: auto;
}

.child-card {
  width: 300px;
  min-width: 300px;
  padding: 1em;
  margin: 1em;
  background-color: rgb(204, 112, 104);
  border-radius: 4px;
  transition: ease-in 0.2s;
}
.ev-card {
  width: 400px;
  min-width: 400px;
}

.child-card:hover {
  background-color: rgb(197, 79, 68);
}

dl > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dotted black;
  color: #dbe7f5;
}

dl > div > dt {
  font-weight: 700;
  color: #313e4c;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: auto !important;
  border-radius: auto !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: auto !important;
  border-radius: auto !important;
  background: auto !important;
  -webkit-box-shadow: auto !important;
  width: 7px;
}

::-webkit-scrollbar-thumb:window-inactive {
  width: 7px;
  background: auto;
}
