.activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow: auto;

  max-height: 92vh;
}

.info {
  margin-top: 4em;
  width: 97%;
    border-radius: 7px;
  align-self: middle;
  background-color: #313e4c;

  min-height: 500px;
  max-height: 500px;
}

.title {
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  height: 100%;
    text-align: center;
}

.left-card {
  margin-left: 1em;
  padding: 1em;
  min-width: 20%;
}

.divider {
  margin: 0;
  background-color: #697e95;
  height: 1px;
}

.card-title {
  font-size: 1em;
}
.active-users {
  background-color: sandybrown;
  border-radius: 4px;
  padding: 1em;
}

.allnr {
  margin-top: 10px;
  background-color: salmon;
  border-radius: 7px;
  padding: 1em;
}

.cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  min-width: 80%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile-pic {
  width: 40px;
  height: auto;
}

.child-card {
  width: 300px;
  min-width: 300px;

  background-color: slategray;
  margin: 1em;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    text-align: center;
   
}

::-webkit-scrollbar {
 width: 3px;
    
}
::-webkit-scrollbar-track {
  -webkit-border-radius: auto !important;
  border-radius: auto !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: auto !important;
  border-radius: auto !important;
  background: auto !important;
  -webkit-box-shadow: auto !important;
     width: 7px;
}

::-webkit-scrollbar-thumb:window-inactive {
    width: 7px;
  background: auto;
}


