.main {
  margin: auto;
  width: 80%;
  background-color: #313e4c;
  height: 100vh;
}

.main-table {
  padding: 1em 1em 3em 1em;
  transform: translate(3%, 0);
  width: 95%;
  border: 5px solid #465464;
  border-radius: 5px;
  max-height: 90%;
}

.table {
  align-self: center;
  margin: auto;
}

.header {
  padding: 2em;
  margin: auto;
  width: 80%;
  color: white;
}

.header > h1 {
  font-weight: 800;
}

th {
  background-color: #5c8fcc !important;
}

td {
  color: white !important;
}

td:hover {
  color: rgb(246, 123, 114) !important;
  cursor: pointer;
}

td > a {
  text-decoration: none;
  color: white !important;
}

td:hover > a {
  color: rgb(246, 123, 114) !important;
  cursor: pointer;
}
.routines-table {
  display: flex;
  flex-direction: column;
}
