{% extends 'staff/base.html' %}

{% block styles %}
<style>
    .create-inventory {
        width: 50%;
        margin-top: 10%;
    }

    input[type=submit] {
        background-color: #6ED383;
        border-radius: 4px;
        outline: none !important;
    }

    .back{
        width: 10%;
        transform: translate(100%, 150%);
    }
</style>
{% endblock styles %}



{% block middle %}

<div class="back">
<a class="container btn btn-primary rounded-1" href="{% url 'staff-manage-inventory' %}">Back</a>
</div>
<div class="create-inventory card container"> 
    <div class="create-inventory-body form card-body container">
        <form method="POST" action="{% url "staff-add-inventory" %}" class="create-inventory-form">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif %}
               
                <div class="form-group mt-3">
                    <label for="name">Item Name</label>
                    <input type="text" class="form-control {{nameValid}}" id="name" name="name" placeholder="Name: ">
                </div>
                <div class="form-group mt-3">
                    <label for="desc">Item Description</label>
                    <input type="text" class="form-control {{descValid}}" id="desc" name="desc" placeholder="Some description: ">
                </div>
            
                <div class="form-group mt-3">
                    <label for="price">Item Price</label>
                    <input class="form-control {{priceValid}}" type="number" min="0" id="price" name="price" placeholder="Price per unit: ">
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="quantity">Quantity</label>
                    <input class="form-control {{quantityValid}}" type="number" min="0" id="quantity" name="quantity" placeholder="Quantity: ">
                </div>

                <input class="btn btn-success p-2 mt-2" type="submit" />      
        </form>
    </div>
</div> 
{% endblock middle %}